/* https://vitepress.dev/guide/extending-default-theme#customizing-css */

:root {
    --vp-c-brand: #0061a6;
}

/* Using prefers-color-scheme does not work with the selector */
.dark {
    --vp-c-brand: #9ccaff;
}

/* Medium zoom */
.medium-zoom-overlay {
    z-index: 20;
}

.medium-zoom-image {
    z-index: 21;
}
