/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.guilabel
  border 1px solid #7fbbe3
  background #e7f2fa
  font-size 80%
  font-weight 700
  border-radius 4px
  padding 2.4px 6px
  margin auto 2px
  white-space nowrap