name: CI

on: [push]

jobs:
  jekyll:
    name: Build Jekyll site
    runs-on: ubuntu-latest
    container:
      image: ruby:2.6.4
    steps:
      - uses: actions/checkout@v1

      - name: Install dependencies
        run: |
          gem install bundler:2.0.2
          gem install html-proofer
          bundle install

      - name: Build site
        run: bundle exec jekyll build

      - name: Run htmlproofer
        run: htmlproofer --url-ignore "/smartschool.be/" ./_site
        env:
          LANG: C.UTF-8
