name: CI

on: [push]

jobs:
  jekyll:
    name: Build site
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install dependencies
        run: yarn install

      - name: Build site
        run: yarn build

      - name: Run HTMLProofer
        uses: chabad360/htmlproofer@v1.1
        with:
          directory: "./.vuepress/dist"
          # The directory to scan
          arguments: '--url-ignore "/smartschool.be/" --hydra_config "{max_concurrency: 5}"'
